<h1 mat-dialog-title>Add stock</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content>
        <div fxLayout="row wrap" class="mt-2">
            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                <!-- <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="categoryId" required>
                        <mat-option *ngFor="let cat of data.prerequisites.categories" [value]="cat.id">
                            <span>{{cat.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.categoryId.errors?.required">Category is required</mat-error>
                </mat-form-field> -->
                <kt-jx-mat-select [label]="'Category'"  [valueField]="'id'" [textField]="'name'" [dataSource]="data.prerequisites.categories" [control]="form.get('categoryId')" [loadOnInit]="false"></kt-jx-mat-select>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Product</mat-label>
                    <mat-select formControlName="productId" required>
                        <input class="search-control" placeholder="Search by name"
                            (keyup)="onProductFilter($event.target.value)">
                        <mat-option
                            *ngFor="let product of products | filterByKey : 'categoryId': form.get('categoryId').value"
                            [value]="product.productId">
                            <span>{{product.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.productId.errors?.required">Product is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Brands</mat-label>
                    <mat-select formControlName="brandId">
                        <mat-option [value]="">-</mat-option>
                        <mat-option
                            *ngFor="let item of data.prerequisites.brands | filterByKey :  'categoryId': form.get('categoryId').value"
                            [value]="item.brandId">
                            <span>{{item.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.brandId.errors?.required">Brand is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Material Type</mat-label>
                    <mat-select formControlName="materialTypeId">
                        <mat-option [value]="">-</mat-option>
                        <mat-option
                            *ngFor="let item of data.prerequisites.materialTypes | filterByKey : 'categoryId': form.get('categoryId').value"
                            [value]="item.materialTypeId">
                            <span>{{item.name}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Sizes</mat-label>
                    <mat-select formControlName="sizeId">
                        <mat-option [value]="">-</mat-option>
                        <mat-option
                            *ngFor="let item of data.prerequisites.sizes | filterByKey :  'categoryId': form.get('categoryId').value"
                            [value]="item.sizeId">
                            <span>{{item.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.sizeId.errors?.required">Size is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Grades</mat-label>
                    <mat-select formControlName="gradeId">
                        <mat-option [value]="">-</mat-option>
                        <mat-option
                            *ngFor="let item of data.prerequisites.grades | filterByKey :  'categoryId': form.get('categoryId').value"
                            [value]="item.gradeId">
                            <span>{{item.name}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Colors</mat-label>
                    <mat-select formControlName="colorId">
                        <mat-option [value]="">-</mat-option>
                        <mat-option
                            *ngFor="let item of data.prerequisites.colors | filterByKey :  'categoryId': form.get('categoryId').value"
                            [value]="item.colorId">
                            <span>{{item.name}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>UnitMeasure</mat-label>
                    <mat-select formControlName="unitMeasureId">
                        <mat-option [value]="">-</mat-option>
                        <mat-option *ngFor="let item of data.unitmeasures" [value]="item.unitMeasureId">
                            <span>{{item.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.unitMeasureId.errors?.required">UnitMeasure is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>MRP</mat-label>
                    <input matInput formControlName="mrp" type="number">
                    <mat-error *ngIf="form.controls.mrp.errors?.required">MRP is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Quantity</mat-label>
                    <input matInput formControlName="quanitity" type="number">
                    <mat-error *ngIf="form.controls.quanitity.errors?.required">Quantity is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Unit Price</mat-label>
                    <input matInput formControlName="unitPrice" type="number" (keyup)="updatePrice()">
                    <mat-error *ngIf="form.controls.unitPrice.errors?.required">Unit price is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Discount(%)</mat-label>
                    <input matInput formControlName="discount" type="number" (keyup)="updatePrice()">
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Sub Total</mat-label>
                    <input matInput formControlName="subtotal" type="number" readonly>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Total CGST</mat-label>
                    <input matInput formControlName="totalCgstAmount" type="number">
                    <mat-error *ngIf="form.controls.totalCgstAmount.errors?.required">CGST is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Total SGST</mat-label>
                    <input matInput formControlName="totalSgstAmount" type="number">
                    <mat-error *ngIf="form.controls.totalSgstAmount.errors?.required">SGST is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Taxable Amount</mat-label>
                    <input matInput formControlName="taxableAmount" type="number" readonly>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
    </div>
</form>