.search-control {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  outline: none;
  padding: 13px;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  margin-left: 0.02em;
  border-radius: 4px;
}
.select-all{
margin: 5px 17px;
}

.w-100{
  width: 100% im !important;
}